html {
  box-sizing: border-box;
}


#modal {
  position: fixed;
  font-family: arial,helvetica, sans-serif;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.4);
  z-index: 99999;
  opacity:0;
  transition: opacity 400ms linear;
  pointer-events: none;
}
#modal:target {
  opacity:1;
  pointer-events: auto;
}
#modal > div {
  width: 800px;
  height: 870px;
  position: relative;
  margin: 26px auto;
  padding: 20px 40px 20px 40px;
  background: white;
  border-radius: 10px;
}

#modal-delete {
  position: fixed;
  font-family: arial,helvetica, sans-serif;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.4);
  z-index: 99999;
  opacity:0;
  transition: opacity 400ms linear;
  pointer-events: none;
}
#modal-delete:target {
  opacity:1;
  pointer-events: auto;
}
#modal-delete > div {
  width: 400px;
  height: 237px;
  position: relative;
  margin: 15% auto;
  padding: 20px 40px 20px 40px;
  background: white;
  border-radius: 10px;
}